<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title — moja aplikacja platformy ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("EyeGui", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            @Scripts.Render("~/bundles/Self")
            @(new DivField().AddClass("row")
                .AddInnerField(
                    new DivField().AddClass("col-xs-9")
                        .AddInnerField(
                            new InputField().AddId("search").AddClass("form-control").AddStyle("margin-top:10px;")
                        )
                ).AddInnerField(
                    new DivField().AddClass("col-xs-2")
                        .AddInnerField(
                            new BButtonField(BtnBootstrap.Btn.BtnEnum.primary).AddDataAttribute("search", "true").AddStyle("margin-top:10px;")
                                 .AddInnerField(
                                    new SpanField("glyphicon glyphicon-search")
                                 )   
                        )
                )
            )            
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        
        <footer>
         
        </footer>
    </div>
   @(new DivField().AddClass("KeyboardPanel").AddStyle("position: fixed; width: 100%; height: auto; background: #fff; bottom: 0px;")
           .AddInnerField(new DivField().AddId("Keyboard").AddInnerField(new Keyboard())))    
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
